<!-- Layout of the main parts of the website -->
<!-- Basically, this is the template and then in the pages
    we include this layout and then fill in the parts that are left empty
-->


<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %> <!-- includes the title-->
  </head>

  <!-- BODY -->
  <body>

    <!-- Hidden Skip to Main Content link -->
    
    <!-- class="sr-only sr-only-focusable" Hide an element to all devices except screen readers with .sr-only. 
      Combine .sr-only with .sr-only-focusable to show the element again when it’s focused (e.g. by a keyboard-only user). Can also be used as mixins.
      https://getbootstrap.com/docs/4.0/utilities/screenreaders/
    -->
    <a href="#main_content" id="skip_link" class="sr-only sr-only-focusable" tabindex="1">Skip to Main Content</a> <!-- Tab Index 1 means it'll be the first item to tab to on the page.-->
    <!-- NOTE: Bug with NVDA does not render sr-only properly.-->


    <div class="container-fluid g-0"> <!-- container for the whole site.g-0 is for "no gutters" aka no margins-->
      <header role="banner">
        <!-- BANNER -->
        <%- include('partials/banner') %>
      </header>

      <!-- NAVBAR -->
      <div class="sticky-top"> <!-- Make the navbar stick to the top of the page when scrolling past it-->
        <%- include('partials/navbar') %>
      </div>


      <div class="container-fluid">
        <!-- MAIN -->
        <main role="main" id="main_content">
            <%- content -%>
        </main>
      </div>

      <!-- FOOTER -->
      <footer role="contentinfo" class="text-center bg-dark sticky-bottom">
        <%- include('partials/footer') %>
      </footer>

      </div>
      <!--Bootstrap documentation specifies to place this "before the closing </body>"-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>