<!--// Marc Nettles 06/27/2022
//
// The intent of this project is to set up my own private
// web server which will host my public website containing
// my coding and webdev projects.
//
//
// Things I want to use: Back-end/Front-end separation, Bootstrap, NodeJS, ExpressJS, EJS, maybe try some reactJS
-->


				<!-- Main content area below the navbar. Divided into one main row and three columns, the middle column being set to be larger-->
				<div class="row d-flex gx-5">

					<!-- Aside Left Column-->
					<div class="col-lg-3 flex-nowrap d-none d-lg-block"> <!-- col-3 for this aside and the right aside, plus the col-6 from the center columns makes a full screen width of 12-->
						
						<div class="row">
							<%- include("../partials/technologies") %>
						</div>
						
						<div class="row">
							<%- include("../partials/newmemberlist") %>
						</div>

						
					</div>

					<!-- Main Article Content-->
					<div role="article" class="col-12 col-lg-6 flex-nowrap p-5"> <!-- In order to keep content centered, we had to use col-12 col-lg-6-->

						<p class="fs-5"> 
							Hello and welcome to my site! This site is intended to showcase my abilities and projects.
						</p>
						<%- include("../partials/skillsnavbar.ejs") %>

					</div>

					<!-- Aside Right Column -->
					<div class="col-3 flex-nowrap d-none d-lg-block">
						
						<div class="row">
							<%- include("../partials/news") %>
						</div>
						
						<div class="row">
							<%- include("../partials/underconstruction") %>
						</div>

					</div>
				</div>
				
